<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description"
    content="Intecse, Instalaciones Tecnologicas... Empresa que se dedica a la venta e instalaciones de cámaras de seguridad y aparatos tecnologícos.">
  <meta name="author" content="Michael Pérez Pin">
  <meta name="keywords" content="Instaciones Cámaras Seguridad, instalaciones de chapas electricas, instalacion, Anuncio de Motos, Venta de Motods, venta de tecnologia, venta de cámaras
  , venta de pistolas de juguete">
  <meta name="google" content="notranslate" />
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <title>Intecse</title>
  <link rel="icon" type="image/x-icon" href="favicon.ico">

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
    type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="css/agency.css" rel="stylesheet">

  <script src="https://unpkg.com/vue/dist/vue.js"></script>


</head>


<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="index.html">
        <span style="color:white; font-size: 30px">IN<span style="color:black;">TEC<span style="color:red;">SE</span>
          </span>
        </span>
        <a href="tel:+593988028280">+593 98-802-8280</a>
        <a href="mailto:ventas@intecse.com">
          ventas@intecse.com</a>
      </a>


      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="index.html">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="productos.html">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="index.html#services">Servicios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="index.html#portfolio">Portalofio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="index.html#about">Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="index.html#contact">Contactos</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Header -->
  <header class="masthead">
    <div class="container">
      <div class="intro-text">
        <div class="intro-lead-in">
          <a href="index.html">
            <b style="font-family: 'Ultramarine'; font-size: 80px;"><span style="color:white;">IN<span
                  style="color:black;">TEC<span style="color:red;">SE</span>
                </span></b>
          </a>
        </div>
        <div class="intro-heading text-uppercase">Conoce Nuestros Productos</div>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#app">Productos</a>
      </div>
    </div>
  </header>

  <!-- Services -->
  <!--OPCIONES-->
  <section class="page-section">
    <div class="container">

      <div class="row" id="app">
                          <!--          BOTONES DINAMICOS         -->
                    <div class="col-lg-12 text-center lista" style="margin-bottom: 10px; ">
                      <h2 class="section-heading text-uppercase">Opciones</h2>
                    </div>
                    <div class="col-lg-12 text-center lista" v-for="boton of objetoPrincipal.productos"  style="margin-bottom: 10px; " >
                      <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" v-if="boton.tipo=='par'" 
                        href="#contenedor1" @click="obtenerObjeto(boton)">{{boton.nombre}}</a>
                      <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" style="background-color:rgb(95, 219, 247);" 
                        v-if="boton.tipo=='impar'" href="#contenedor1" @click="obtenerObjeto(boton)">{{boton.nombre}}</a>
                    </div>
                          <!--        TIPO DE OPCIONES       -->
                          <div class="container"  id="hide">
                            <div class="row" >
                                <div class="col-md-4 col-sm-6 portfolio-item" style="margin-bottom: 120px" id="contenedor1">
                                  
                                  </div>
                            </div>
                        </div>     
                      <div class="container" v-if="objetoSeleccionado.estado">
                          <div class="col-lg-12 text-center lista" style="margin-bottom: 60px; ">
                              <h2 class="section-heading text-uppercase">Tipos de {{objetoSeleccionado.nombre}}</h2>
                            </div>
                            
                      <div class="container"  v-if="objetoSeleccionado.estado" id="hide">
                        <div class="row" >
                            <div class="col-md-4 col-sm-6 portfolio-item" v-for="objeto of objetoSeleccionado.tipos"  id="contenedor">
                                      <div class="portfolio-caption">
                                          <h2 class="section-heading text-uppercase" style="text-align: center">{{objeto.nombre}}</h2>
                                          <a href="#contenedorProductos" @click="obtenerProducto(objeto)">
                                            <img class="img-fluid"  :src="objeto.url" alt="objeto.nombre">
                                          </a> 
                                          <a class="btn btn-dark btn-xl text-uppercase js-scroll-trigger btn-block"   
                                        href="#contenedorProductos" @click="obtenerProducto(objeto)"  style="margin-bottom: 100px">Ver Modelos</a>
                                      </div>
                                </div>
                            </div>
                        </div>
                        </div>
                          <!--          TIPOS DE PRODUCTOS          -->
                          <div class="container" id="hide">
                            <div class="row" >
                                <div class="col-md-4 col-sm-6 portfolio-item" id="contenedorProductos">
                                  </div>
                            </div>
                        </div>     
                          <div class="container" v-if="objetoProductos.estado">
                              <div class="col-lg-12 text-center lista" style="margin-bottom: 10px; ">
                                  <h2 class="section-heading text-uppercase">Tipos de Productos {{objetoSeleccionado.nombre}}</h2>
                                </div>
                      <div class="container"  v-if="objetoProductos.estado" id="hide">
                          <div class="row" >
                              <div class="col-md-4 col-sm-6 portfolio-item" v-for="objeto of objetoProductos"  id="contenedorProductos">
                                        <div class="portfolio-caption">
                                            <img class="img-fluid"  :src="objeto.url" alt="objeto.descripcion">
                                            <h2 class="section-heading text-uppercase">{{objeto.nombre}}</h2>

                                            <h3 class="section-heading text-uppercase" style="text-align: center; margin-bottom: 60px;">{{objeto.descripcion}}</h3>
                                        </div>
                                  </div>
                              </div>
                        </div>
                      </div>
  </section>

  <!--FIN DE OPCIONES-->


  <!-- Escaleras -->

  <!-- Footer -->
  <footer class="footer">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-4">
          <span class="copyright">Copyright &copy; <a href="http://intecse.com" style="color:#c82f38;">Intecse S.A</a>
          </span>
        </div>
        <div class="col-md-4">
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.facebook.com/instalacionestecnologicasgye/">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <span class="copyright">Desarrollado por <a href="http://dexxtronex.com"
              style="color:#c82f38;">Dexxtronex</a> </span>
        </div>
        <div class="col-md-4">
          <ul class="list-inline quicklinks">
            <li class="list-inline-item">
              <a href="#">Privacy Policy</a>
            </li>
            <li class="list-inline-item">
              <a href="#">Terms of Use</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Contact form JavaScript -->
  <script src="js/jqBootstrapValidation.js"></script>
  <script src="js/contact_me.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/agency.min.js"></script>

  <script src="vue.js"></script>
  <script src="lodash.js"></script>

</body>

</html>